.img-cards{
    width: 10rem;
    padding: .3rem;
    margin: 1rem;
}

.container-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title-alf{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    border-left: 2px solid #077F8C;
    width: 35%;
}